[tool.ruff]
target-version = "py311"
line-length = 100
indent-width = 4
fix = true

[tool.ruff.format]
preview = true
quote-style = "double"
docstring-code-format = true
indent-style = "space"

[tool.ruff.lint]
select = [
    "A",   
    "B",   
    "C4",  
    "DTZ", 
    "E",   
    "F",   
    "I",   
    "N",   
    "PL",  
    "PT",  
    "RUF", 
    "S",   
    "SIM", 
    "T20",
    "UP",
    "W",
]

ignore = [
    "E501",
    "D",
]


[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["S101"]
